@font-face {
  font-family: 'MetalMania';
  src: url('./assets/fonts/MetalMania.ttf') format('truetype');
}

#root {
  margin: 0 auto;
  height: 100vh;
  font-family: "MetalMania";
}

.outline-text {
  -webkit-text-stroke: 0.75px black;
  /* Works in Chrome, Edge, Safari, Opera */

  /* Fallback for Firefox (uses text-shadow to simulate stroke) */
  text-shadow:
    0.75px 0.75px 0 black,
    -0.75px 0.75px 0 black,
    0.75px -0.75px 0 black,
    -0.75px -0.75px 0 black;

  font-weight: 700;
}

.outline-text-small {
  -webkit-text-stroke: 0.5px black;
  /* Works in Chrome, Edge, Safari, Opera */

  /* Fallback for Firefox (uses text-shadow to simulate stroke) */
  text-shadow:
    0.5 0.5px 0 black,
    -0.5px 0.5px 0 black,
    0.5px -0.5px 0 black,
    -0.5px -0.5px 0 black;

  font-weight: 700;
}

.hide-scrollbar {
  overflow: auto;
  /* scrolling allowed */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.125s ease-out forwards;
}


@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.125s ease-out forwards;
}